<div class="jumbotron text-center">
  <h1>Salary Peeker</h1>
  <hr class="my-4"/>
  <p style="font-size: 20px;"><strong>What is Salary Peeker?</strong></p>
  <p>
    Salary Peeker is a consolidation of publically available salary data for both the City of Redding and Shasta County,
    with the purpose of providing the denizens of Redding a platform for transparency into the designation of budgeted salaries
    for both agencies. Salary Peeker is an analogous project to <a href="https://budgetpeeker.azurewebsites.net">Budget Peeker</a>,
    an open source application that provides financial data for the the City of Sacramento's approved budget from fiscal years
    2015 to 2018.
  </p>
  <p style="font-size: 20px;"><strong>The Data?</strong></p>
  <p>
    Salary Peeker sources its data from <a href="https://transparentcalifornia.com/">Transparent California</a>, an open data
    portal for salary information of the public sector within the state of California. Data is sorted by various pay types, agencies,
    fiscal year, and job titles.
  </p>

  <hr class="my-4"/>
  <p style="font-size: 20px;"><strong>Like the site? Leave a message!</strong></p>
  <p>
    Seeing as this is a site for the people of Redding, by the the people of Redding, I encourage any and all
    constructive discussion. I'm always looking for ways to improve the site, so feel free to drop a comment below.Find
    something interesting in the data? Let us know!
  </p>
  <div class="container">
    <p>Checkout my personal site, or find me on LinkedIn and GitHub:</p>
    <span class="col-sm-4"><a href="https://joeymckenzie.azurewebsites.net" target="_blank"><i id="personal-link" class="fas fa-code fa-2x"></i></a></span>
    <span class="col-sm-4"><a href="https://linkedin.com/in/JoeyMckenzie" target="_blank"><i id="personal-link" class="fab fa-linkedin fa-2x"></i></a></span>
    <span class="col-sm-4"><a href="https://github.com/joey32793/salarypeeker" target="_blank"><i id="personal-link" class="fab fa-github fa-2x"></i></a></span>
  </div>

  <disqus-thread [page-identifier]="pageIdentifier" [page-url]="pageUrl"></disqus-thread>

  <!--<div id="disqus_thread"></div>-->
  <!--<script src="https://salarypeeker.disqus.com/embed.js">-->
    <!--(function() {-->
      <!--var d = document, s = d.createElement('script');-->
      <!--s.src = 'https://salarypeeker.disqus.com/embed.js';-->
      <!--s.setAttribute('data-timestamp', +new Date());-->
      <!--(d.head || d.body).appendChild(s);-->
    <!--})();-->
  <!--</script>-->
  <!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
</div>
